html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    min-width: 960px;
    font-family: 'Open Sans', sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #b64926;
}

footer .container {
    background-color: #8E2800;
    color: #fff;
    min-height: 40px;
    font-weight: bold;
}

footer .container p {
    margin: 0;
    padding: 0;
    line-height: 40px;
}

/* Don't let the lead text change font-size. */
.lead {
    font-size: 16px;
}

/* Finesse the page header spacing */
.page-header {
    margin-bottom: 30px;
}

.page-header .lead {
    margin-bottom: 10px;
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
    width: 960px;
    max-width: none !important;
}

.container .navbar-header,
.container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
    float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand {
    margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff !important;
    background-color: #428bca !important;
}

.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #999 !important;
    background-color: transparent !important;
}

/**/
header {
    width: 100%;
    padding: 0;
    margin: 0 0 20px;
    background: url("../assets/bg.jpg") center center no-repeat transparent;
    background-size: cover;
    border-bottom: 2px solid #b64926;
}

header .container .head {
    background: url("../assets/header.jpg") center center no-repeat transparent;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 500px;
    position: relative;
}

header .container .head .site-title {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
}

header .container .head .site-title h1 {
    color: #ffffff;
    font-weight: bold;
}

header .container .head .main-navbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #b64926;
}

header .container .head .main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .container .head .main-navbar ul li a,
header .container .head .main-navbar ul li a:visited {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 0;
    margin: 0;
    padding: 8px;
}

header .container .head .main-navbar ul li a:active,
header .container .head .main-navbar ul li a:hover {
    color: #FFF0A5;
}

header .container .head .main-navbar ul > li {
    display: inline-block;
    position: relative;
}

header .container .head .main-navbar ul > li:hover {
    background-color: #8E2800;
}

header .container .head .main-navbar ul > li > ul {
    display: none;
}

header .container .head .main-navbar ul > li:hover > ul {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #8E2800;
    margin: 36px 0 0;
    z-index: 100;
    min-width: 100%;
    box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.2);
}

/*Breadcrumbs*/

.breadcrumb {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}

/*Links*/

a,
a:visited {
    color: #FFB03B;
    transition: color .2s ease-in 0s;
}

a:hover,
a:active {
    color: #FFB03B;
}

/* Menu */

.mainpage-menu {
    background-color: #468966;
}

.mainpage-menu li a,
.mainpage-menu li a:visited {
    color: #fff0a5;
    text-decoration: none;
    margin: 0;
    padding: 10px;
    display: block;
}

.mainpage-menu li a:hover,
.mainpage-menu li a:active {
    color: #fff0a5;
    text-decoration: none;
    background-color: #397054;
}

.side-menu:nth-of-type(n+2){
    margin-top: 20px;
}

/* Main page */

.mainpage-divider h3 {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    background-color: #ffffff;
    color: #b64926;
    width: 300px;
    display: block;
    position: relative;
    margin: 20px auto -40px;
}

.mainpage-divider hr {
    border-color: #b64926;
    margin: 30px 0;
}

/*Articles*/

.article-item{
    margin-bottom: 10px;
}

.articles-helper{
    min-height: 490px;
}

.articles h4 a,
.articles h4 a:visited {
    color: inherit;
}

.articles h4 a:hover,
.articles h4 a:active {
    color: #FFB03B;
    text-decoration: none;
}

.articles .article-content-short {
    overflow: hidden;
    max-height: 165px;
    margin: 0 0 10px;
}

.btn-more,
.btn-more:visited {
    border: 2px solid #FFB03B;
    color: #FFB03B;
    transition: background-color .2s ease-in 0s;
    font-weight: bold;
}

.btn-more:hover,
.btn-more:active {
    border: 2px solid #FFB03B;
    color: #FFF;
    background-color: #FFB03B;
}

/* Quotes */

.quote-icon {
    color: #d7d7d7;
}

.quote-text {
    margin: 0 100px 10px;
}

.qoute-author {
    color: #d7d7d7;
    margin: 0;
}

/* Maintaince */

body.maintaince {
    background-color: #b64926;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

body.maintaince header {
    background-image: none;
}

body.maintaince img {
    border: 10px solid #8E2800;
}

body.maintaince img.no-border {
    border: none;
}